#banner
  .banner_content
    %h1 File Cabinet
    %p Your Life's work. Organized,always.
    %button= link_to "Enter", new_user_registration_path

#callouts
  .callout_inner
    .wrapper
      .callout
        %h2 Organize
        %p Semiotics activated charcoal gastropub before they sold out thundercats church-key. Kitsch wolf hot chicken fam, YOLO affogato vape taxidermy viral. YOLO tbh gastropub, irony aesthetic sartorial synth keytar direct trade letterpress chambray cronut freegan subway tile. Franzen stumptown 3 wolf moon, thundercats locavore offal pitchfork chillwave schlitz kitsch jean shorts tumblr seitan mlkshk keytar. Meggings cornhole photo booth, fap kitsch wayfarers brunch. Butcher vaporware chia, cardigan YOLO selfies waistcoat hashtag venmo. Tofu yuccie hammock trust fund pork belly cray godard, copper mug lomo franzen chia kickstarter williamsburg celiac.

#bottom_cta
  .wrapper
    %h2 Go Ahead!
    %br
    %button= link_to "Join Now", new_user_registration_path            


  